<h1>Bonjour 1alinfo1</h1>
<a routerLink="test">test</a>
<a routerLink="products">Products</a>
<a routerLink="customers">Customers</a>
<!---ici charger la vue du composant -->
<router-outlet></router-outlet>
<!----
{{title}}
<input type="text" [value]="title">
<input type="text" [(ngModel)]="title">
<br>
<button (click)="f()">Console</button>
<br>
{{ title }}
{{ tab }}
{{tab2}}
<ul>
  <li *ngFor="let t of tab">
    {{t}}
  </li>
</ul>
<ul>
  <li *ngFor="let t of tab2">
    {{t.id}} ** {{t.name}}
  </li>
</ul>

<test></test>---->